
/* MACRO CONTAINER */

body{
  display: flex;
  justify-content: center;
  height: 100vh;
  background-image: 
  linear-gradient(to bottom,
    #009688 0px,
    #009688 15vh,
    #D9DBD6 15vh,
    #D9DBD6 100vh);
}

.container{
  width: 60%;
  height: 90vh;
  margin: 20px auto;
}

.container .left{
  float: left;
  width: 25%;
  height: 100%;
  
}

.container .right{
  float: left;
  width: 75%;
  height: 100%;
  background-color: black;
}

.avatar{
  height: 70px;
  border-radius: 50%;
}

li{
  list-style: none;
  display: inline;
}

i{
  font-size:x-large;
}


/* PARTE LEFT */

/* top */
.left .top{
  display: flex;
  justify-content: space-between;
  height: 120px;
  background-color: #EAEAEA;
  border-right: 1px solid #DADADA;
}

.left .top ul{
  display: flex;
  align-items: center;
}

.left .top .avatar{
  padding: 20px 0;
}

.left .top .icons li i{
  padding: 0 20px;
  color: grey;
}



/* notifiche */
.left .notifiche{
  display: flex;
  flex-direction: row;
  align-items: center;
  
  height: 130px;
  background-color: #8EDBFC;
}

.left .notifiche .campana{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  margin-left: 20px;
  background-color: white;
  border-radius: 50%;
}

.left .notifiche .campana i{
  color: #8EDBFC;
}

.left .notifiche a{
  color: black;
}

/* chat */
.left .chat{
  position: relative;
  height: calc(100% - 250px);
  background-color: #FEFEFE;
}

.left .chat i{
  position: absolute;
  left: 50px;
  top: 15px;
  color: #D9DBD6;
}

.left .chat input{
  width: 89%;
  height: 30px;
  margin-left: 5%;
  margin-top: 10px;
}



/* PARTE RIGHT */

/* header */
.right .header{
  height: 120px;
  width: 100%;
  background-color: #EAEAEA;
}

.right section{
  height: calc(100% - 240px);
  background-image: url(../image/mine.jpg);
}

.right .footer{
  height: 120px;
  width: 100%;
  background-color: #F3EEEA;
}